<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.4.0/angular.min.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.4.0/angular-animate.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/shop/settle.css">
</head>
<body>
<div class="settle" ng-app="settle">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-sm-12">
                <h1>步骤一：收货信息</h1>
                <form action="post">
                    <ul>
                        <li>
                            <span>国家</span>
                            <select name="" id="">
                                <option value="china">中国</option>
                            </select>
                        </li>
                        <li><span>收货人</span><input type="text" name="consignee" placeholder="请输入收货人姓名"></li>
                        <li><span>手机号</span><input type="text"></li>
                        <li>
                            <span>收货地址</span><br>
                            <span>地区</span>
                        </li>
                        <li><span>地址标签</span><input type="text" name="address-name" placeholder="比如‘家’\‘公司’"></li>
                        <li><span></span></li>
                    </ul>
                </form>
            </div>
            <div class="col-lg-5 col-sm-12">
                <h1>您的订单</h1>
            </div>
        </div>
    </div>
</div>
</body>
</html>