<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/shop/settle.css">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script src="https://cdn.bootcss.com/angular.js/1.4.0/angular.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/angular.js/1.4.0/angular-animate.min.js"></script>-->
</head>
<body>
<div class="settle" ng-app="settle">
    <div class="container">
        <div class="row">
            <!-- ng-view 1 -->
            <!--<div class="col-lg-7 col-lg-offset-1 col-sm-12 step-1">-->
                <!--<h1>步骤一：收货信息</h1>-->
                <!--<form action="post">-->
                    <!--<ul>-->
                        <!--<li>-->
                            <!--<span>国家</span>-->
                            <!--<select name="" id="">-->
                                <!--<option value="china">中国</option>-->
                            <!--</select>-->
                        <!--</li>-->
                        <!--<li><span>收货人</span><input type="text" name="consignee" placeholder="请输入收货人姓名"></li>-->
                        <!--<li><span>手机号</span><input type="text" name="phone" placeholder="请输入收货手机号"></li>-->
                        <!--<li class="address">-->
                            <!--收货地址<br>-->
                            <!--<span>省/直辖市</span><input type="text" name="area" placeholder="请输入省或者直辖市"><br>-->
                            <!--<span>市/区</span><input type="text" name="city" placeholder="请输入市或者区"><br>-->
                            <!--<span>具体地址</span><input type="text" name="detail" placeholder="请输入具体街道地址"><br>-->
                            <!--<span>邮编</span><input type="text" name="zipcode" placeholder="请输入如邮政编码">-->
                        <!--</li>-->
                        <!--<li><span>标签</span><input type="text" name="address-name" placeholder="比如‘家’\‘公司’"></li>-->
                        <!--<li><input type="checkbox"> 设置为我的默认地址</li>-->
                    <!--</ul>-->
                    <!--<button id="next">下一步</button>-->
                <!--</form>-->
            <!--</div>-->

            <!-- ng-view 2 -->
            <!--<div class="col-lg-7 col-lg-offset-1 col-sm-12 step-2">-->
                <!--<div class="detail">-->
                    <!--<div>-->
                        <!--<h1>收货信息 <a href="">编辑</a></h1>-->
                        <!--<span>weng penghui</span><br>-->
                        <!--<span>下沙街道文创大厦905室</span><br>-->
                        <!--<span>杭州, 浙江 210016 CN</span><br>-->
                        <!--<span>15267053970</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="step">-->
                    <!--<h1>第二步：选择物流</h1>-->
                    <!--<ul>-->
                        <!--<li><input type="radio" name="ship"><em>￥9.90</em> 标准邮政 2-5天</li>-->
                        <!--<li><input type="radio" name="ship"><em>￥9.90</em> 顺丰速运 1-3天</li>-->
                        <!--<li><input type="radio" name="ship"><em>￥9.90</em> 天天快递 1-4天</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<button id="next">下一步</button>-->
                <!--<p>-->
                    <!--物流时间大约在4-7天 <br>-->
                    <!--各地的税费和物流费用不一致，请咨询当地的物流确定额外费用-->
                <!--</p>-->
            <!--</div>-->

            <!-- ng-view 3 -->
            <!--<div class="col-lg-7 col-lg-offset-1 col-sm-12 step-3">-->
                <!--<div class="detail">-->
                    <!--<div>-->
                        <!--<h1>收货信息 <a href="">编辑</a></h1>-->
                        <!--<span>weng penghui</span><br>-->
                        <!--<span>下沙街道文创大厦905室</span><br>-->
                        <!--<span>杭州, 浙江 210016 CN</span><br>-->
                        <!--<span>15267053970</span>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<h1>物流选项 <a href="">编辑</a></h1>-->
                        <!--<span>顺丰速运</span><br>-->
                        <!--<span>1-3天</span><br>-->
                        <!--<span>￥9.90</span><br>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="step">-->
                    <!--<h1>第三步：地址信息</h1>-->
                    <!--<form action="post">-->
                        <!--<ul>-->
                            <!--<li>-->
                                <!--<span>国家</span>-->
                                <!--<select name="" id="">-->
                                    <!--<option value="china">中国</option>-->
                                <!--</select>-->
                            <!--</li>-->
                            <!--<li><span>收货人</span><input type="text" name="consignee" placeholder="请输入收货人姓名"></li>-->
                            <!--<li class="address">-->
                                <!--收货地址<br>-->
                                <!--<span>省/直辖市</span><input type="text" name="area" placeholder="请输入省或者直辖市"><br>-->
                                <!--<span>市/区</span><input type="text" name="city" placeholder="请输入市或者区"><br>-->
                                <!--<span>具体地址</span><input type="text" name="detail" placeholder="请输入具体街道地址"><br>-->
                                <!--<span>邮编</span><input type="text" name="zipcode" placeholder="请输入如邮政编码">-->
                            <!--</li>-->
                            <!--<li><span>标签</span><input type="text" name="address-name" placeholder="比如‘家’\‘公司’"></li>-->
                        <!--</ul>-->
                        <!--<button id="next">下一步</button>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->

            <!-- ng-view 4 -->
            <div class="col-lg-7 col-lg-offset-1 col-sm-12 step-4">
                <div class="detail">
                    <div>
                        <h1>收货信息 <a href="">编辑</a></h1>
                        <span>weng penghui</span><br>
                        <span>下沙街道文创大厦905室</span><br>
                        <span>杭州, 浙江 210016 CN</span><br>
                        <span>15267053970</span>
                    </div>
                    <div>
                        <h1>物流选项 <a href="">编辑</a></h1>
                        <span>顺丰速运</span><br>
                        <span>1-3天</span><br>
                        <span>￥9.90</span><br>
                    </div>
                    <div>
                        <h1>地址信息 <a href="">编辑</a></h1>
                        <span>weng penghui</span><br>
                        <span>下沙街道文创大厦905室</span><br>
                        <span>杭州, 浙江 210016 CN</span><br>
                    </div>
                </div>
                <div class="step">
                    <h1>支付信息</h1>
                    <ul>
                        <li><span>支付宝</span><input type="text" placeholder="请输入您的支付宝账号"></li>
                        <li><span>绑定手机</span><input type="text" placeholder="请输入您的手机"></li>
                        <li class="check"><span>验证码</span><input type="text" placeholder="输入您收到的验证码"><input type="button" value="获取验证码"></li>
                    </ul>
                    <button id="next">下一步</button>
                    <img src="" alt="这里是支付宝图片">
                </div>
            </div>

            <div class="col-lg-3 col-sm-12 order">
                <h1>您的订单</h1>
                <div class="order-content">
                    <aside>
                        <a href=""><img src="" alt=""></a>
                        <p>
                            <a href=""><h3>Vue logo</h3></a>
                            <span>1</span> x <span>￥25.00</span><br>
                            <span>这是商品的描述</span>
                        </p>
                    </aside>
                </div>
                <div class="total">
                    <input type="text" placeholder="请输入您的折扣券码"><button>使用</button><br>
                    <span>结算：￥25.00</span><br>
                    <span>税费：￥0.00</span><br>
                    <span>折扣：未使用折扣券</span><br>
                    <em>总计：￥25.00 </em>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>